Makefile
Makefile.in
configure
configure.in
.deps
.libs
*.la
*.lo
m4/
autom4te.cache/
config.*
aclocal.m4
ar-lib
compile
depcomp
install-sh
libtool
ltmain.sh
missing
src/smm-asset.pc
*.tar.gz
*~

# dpkg-buildpackage artifacts
debian/.debhelper/
debian/tmp/
debian/libsmmasset0/
debian/libsmm-asset-dev/
debian/files
debian/debhelper-build-stamp
debian/*.substvars
debian/*.debhelper

# check-code.sh / static analysis artifacts
compile_commands.json
clang-tidy.log
stamp-h1
test-driver
tests/check_smm
tests/*.o
tests/*.log
tests/*.trs
